<header class="header">
    <a href="" class="header-logo">NodeJS</a>
    <nav class="header-nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
    </nav>
    

    <div class="header-button">
        <button class="searchBtn" aria-expanded="false">
            Search
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24px" height="24px">
                <path d="M9.5 3C13.0899 3 16 5.91015 16 9.5C16 11.0409 15.4721 12.4485 14.5797 13.5687L20.2929 19.2929C20.6834 19.6834 20.6834 20.3166 20.2929 20.7071C19.9024 21.0976 19.2692 21.0976 18.8787 20.7071L13.5687 14.5797C12.4485 15.4721 11.0409 16 9.5 16C5.91015 16 3 13.0899 3 9.5C3 5.91015 5.91015 3 9.5 3ZM9.5 5C7.01472 5 5 7.01472 5 9.5C5 11.9853 7.01472 14 9.5 14C11.9853 14 14 11.9853 14 9.5C14 7.01472 11.9853 5 9.5 5Z" />
              </svg>
              
        </button>
    </div>
</header>